<html>
<head>
	<title>subreddit</title>
</head>
<body>
	<center>
	{% for story in stories %}
		<a href="{{ story[3] }}">{{ story[1] }}</a><br>
		<a href="/comments?sub={{ sub }}&from={{ from }}&to={{ to }}&story={{ story[0] }}">comments</a><br><br>
	{% endfor %}
	(already tansalte in py)
	for each S in ARTICLE:
		print S
	</center>
</body>
</html>