<html>
<head>
	<title>Pick a subreddit</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/glike.css">
</head>
<body>
     <div id="header" class="nav">
          <div id="main" class="content">
	{% for comment in comments %}
		<b>{{ comment[1] }}</b>: {{ comment[0] }}<br><br>
	{% endfor %}
         </div>
    </div>
  <div id="footer" class="bottom">
       <div id="foot">
        Copyright © 2048 Redlate
    </div>
     
 </div>
</body>
</html>