<html>
<head>
	<title>subreddit</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/glike.css">
</head>
<body>
    <div id="header" class="nav">
    <div id="main" class="content">
	<center>
	{% for story in stories %}
		<a href="{{ story[3] }}">{{ story[1] }}</a><br>
		<a href="/comments?sub={{ sub }}&from={{ from }}&to={{ to }}&story={{ story[0] }}">comments</a><br><br>
	{% endfor %}
	(already tansalte in py)
	for each S in ARTICLE:
		print S
	</center>
     </div>
    </div>
    <div id="footer" class="bottom">
       <div id="foot">
        Copyright © 2048 Redlate
    </div>
     
 </div>
</body>
</html>